<%= simple_form_for(@status, class: "form-horizontal") do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 	  <strong><%= current_user.full_name %></strong>
	
    <div "form">
      <br /><%= f.input :content %>
    </div>

  <div class="form-actions">
	  <br />

    <%= f.button :submit, class: "btn-primary" %>
  </div>
  <br />
<% end %>
