

<div class="row-fluid">
	<div class="span4">&nbsp;
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>
		
		<fieldset>
			
			<legend>Sign In</legend>
		
		  <div class="signin-width-input"><%= f.input :email %><br /></div>
		
		  <div class="signin-width-input"><%= f.input :password %><br /></div>
		
		  <% if devise_mapping.rememberable? -%>
		  
		    <div class="signin-check"><%= f.input :remember_me, as: :boolean %></div>
		</fieldset>
		  <% end %>
		
		  <div><%= f.button :submit, "Sign in", class: "btn-primary" %></div>
		<% end %>
	</div>
	
</div>
<%= render "devise/shared/links" %>
